.my-custom-menu {
    --width: 200px;
  }
  .menu-botao{
    display: inline-block;
    text-align: right;
    width: 100%;
    padding: -10px;
  }

  .btn{
    padding: 10px;
    border-radius: 6px;
    margin-top: 60px;
  
  }