<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>

      CMS do T.O.P
     
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">      
        CMS do T.O.P.       
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <app-menu></app-menu>
  <div id="container">
  
    <h1  class="display-4">CMS</h1>
    <p>Curso de Dotnet com IONIC - <a target="_blank" href="https://www.torneseumprogramador.com.br/">Venha para Comunidade Torne-se um Programador</a>.</p>
  </div>
</ion-content>
